@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.cabecalho_rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.cabecalho_rodape a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #666666;
    text-decoration: unset;
}

.menu_header{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.logo{
    width: 100px;
}

.banner{
    background-image: url(../img/banner_inserirDescricao.png);
    width: 100%;
    height: 1257px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1%;
}

label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
}

.box_pesquisa{
    width: 1075px;
    height: 750px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
}

.espacamento_box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5%;
}

.input_pesquisa{
    background-color:#90C7FF;
    border-radius: 30px;
    border: none;
    width: 525px;
    height: 60px;
    display: flex;
}

.input_descricao{
    background-color:#90C7FF;
    border-radius: 30px;
    border: none;
    width: 800px;
    height: 60px;
    display: flex;
}

.espacamento_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_inserir{
    width: 334px;
    height: 86px;
    background-color:#90C7FF;
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}