@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.cabecalho_rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.cabecalho_rodape a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #666666;
    text-decoration: unset;
}

.menu_header{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.logo{
    width: 100px;
}

.banner{
    background-image: url("../img/banner_consultaadm.png");
    width: 100%;
    height: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    font-weight: 600;
    color: #ffffff;
}

label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
}

.box_pesquisa{
    width: 1246px;
    height: 707px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.espacamento_box{
    display: flex;
    justify-content: space-evenly;
}

.input_pesquisa{
    background-color:rgba(174, 247, 194, 0.3);
    border-radius: 20px;
    border: none;
    width: 510px;
    height: 58px;
    display: flex;
}

.espacamento_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_listar{
    width: 326px;
    height: 86px;
    background-color: rgba(174, 247, 194, 0.3);
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cadastrar{
    width: 500px;
    height: 86px;
    background-color:#5FC367;
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posicionamento_titulo{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.titulo{
    color: #5FC367;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: bold;
}

.lista_consultas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
}
  
.consulta h2 {
    color: #5FC367;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.topicos{
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

@media (max-width: 600px){
    .container{
        width: 80vw;
    }

    .banner h1{
        font-size: 36px;
    }

    .cabecalho_rodape a{
        font-size: 15px;
    }

    .menu_header{
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .logo{
        width: 50px;
    }

    .lista_consulta{
        margin-top: 4%;
    }

    .consulta{
        display: flex;
        justify-content: flex-start;
        height: 120%;
    }

    .consulta h2{
        font-size: 15px;
    }

    .espacamento_box input{
        width: 100%;
        height: 75%;
    }

    .espacamento_box label{
        font-size: 24px;
    }

    .btn_listar{
        font-size: 36px;
        height: 70px;
    }

    .topicos{
        font-size: 14px;
        line-height: 15px;
    }
}